.footerCont {
  background-color: #00c8ff36;
  line-height: 24px;
  color: #ff5e35;
  font-weight: 500;
}

.footerCont .art {
  background-color: #73ffc5;
  padding: 16px;
  padding-top: 48px;
  clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.footerCont .content {
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.footerCont .headerF {
    background-color: transparent;
  font-size: 21px;
  padding: 6px;
}

.footerCont .content a {
  display: block;
  padding: 6px;
  color: black;
  opacity: 0.65;
}

.footerCont .content a:hover {
  opacity: 1;
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.footerCont input {
  border-style: solid;
  line-height: 24px;
  padding: 12px 16px;
  font-size: 1rem;
  width: 100%;
  margin: 4px;
  border-radius: 4px;
  border-width: 4px;
}

.footerCont input[type="email"] {
  background-color: transparent;
  border-color: white;
  color: white;
}

.footerCont input[type="email"]:hover,
.footerCont input[type="email"]:focus {
  border-color: #ff5e35;
  color: #000;
}

.footerCont input[type="submit"] {
  background-color: white;
  color: #000;
  text-transform: uppercase;
  border: none;
}

.footerCont input[type="submit"]:hover {
  background-color: #ff5e35;
}

.footerCont .social {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

.footerCont .social i {
  font-size: 32px;
  padding: 12px;
  text-align: center;
  border: 1px solid #ffff0031;
  border-radius: 8px;
  width: 100%;
}

.footerCont .social i:hover {
  color: #000;
  border-color: #ff5e35;
  box-shadow: 0px 0px 16px inset #ffff0031;
}

.footerCont .notice {
  text-align: center;
  padding: 24px;
}

.footerCont .notice strong {
  color: #000;
  text-transform: uppercase;
}
