@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    color: #ff5e35;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    animation: moverDerecha 1s ease-in;
}

.sofa {
    position: absolute;
    max-height: 200px;
    animation: moverDerecha 1s ease-in;
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
  
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

